<div class="top-menu">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <div class="logo">
        <h1>
          <a class="navbar-brand" routerLink="/">E-commerce <span class="logoColor">Store</span>
          </a>
        </h1>
      </div>
    </div>
  </nav>
</div>
