@import '../../../assets/sass/helpers/0-helpers';

.top-menu {
  nav {
    &.navbar-light {
      box-shadow: 0 0 8px #b3b3b3;
      background-color: $white;
    }

    .navbar-nav {
      width: 100%;
    }

    .logo {
      h1 {
        a {
          color: $darkGrey;

          .logoColor {
            color: $main-color
          }
        }
      }
    }
  }
}
