<div class="row product-details">
  <aside class="col-md-3">
    <app-products-filter (filterUpdate)="filter($event)" [products]="products"></app-products-filter>
  </aside>
  <div class="col-md-9">
    <div class="products-search d-flex justify-content-between">
      <h2 class="category-title"><strong>{{categoryName}}</strong></h2>
      <input type="text" class="form-control form-control-sm" placeholder="Search..." (keyup)="searchProducts($event)">
    </div>
    <div class="alert alert-warning" *ngIf="noProducts">No matching products found !</div>
    <div class="row">
      <div class="col-md-4" *ngFor="let product of filteredProducts">
        <div class="card">
          <img class="card-img-top" [src]="product.image" [alt]="product.name">
          <div class="card-body">
            <h3 class="product-title">{{product.name}}</h3>
            <strong class="product-price">{{product.price | currency:product.currency:true}}</strong>
            <app-star-rating [rating]="product.rating"></app-star-rating>
            <div class="product-date">
              <small>{{product.releaseDate | date }}</small>
              <small>{{product.releaseDate | date :'shortTime'}}</small>
            </div>
            <div class="badge color" [ngStyle]="{'background-color': '#eee', 'color': product.color}">{{product.color}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
