@import '../../assets/sass/helpers/0-helpers';

.product-details {
  .products-search {
    padding: 10px;
    font-size: 20px;
    background: $lightenGrey;
    border-radius: 5px;
    margin-bottom: 30px;

    .category-title {
      margin: 0;
    }

    input {
      margin-left: 40px;
    }

    strong {
      font-weight: normal;
    }
  }

  .product-title {
    font-size: 24px;
  }

  .product-price {
    display: block;
    color: $main-color
  }

  .product-color {
    text-transform: capitalize;
  }
}
