@import '../../assets/sass/helpers/0-helpers';

.sticky-top {
  top: 100px;

  .color-filtering {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 0;
  }

  .fa {
    cursor: pointer;
  }

  .clearFilter {
    margin: 4px 0;
    cursor: pointer;
  }

  .filterTitle {
    padding: 10px 0;
    display: block;
  }

  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: $main-color
  }
}
