<div class="sticky-top">
  <div class="mb-3 pb-2 priceFiltering border-bottom">
    <span class="filterTitle">Price</span>
    <div class="row">
      <div class="col-md-6">
        <label for="min">From</label>
        <input class="form-control" name="min" (change)="filterPrice($event, 'min')" type="number" [value]="filteredData.minPrice" />
      </div>
      <div class="col-md-6">
        <label for="max">To</label>
        <input class="form-control" name="max" (change)="filterPrice($event, 'max')" type="number" [value]="filteredData.maxPrice" />
      </div>
    </div>
    <span class="clearFilter badge badge-pill badge-dark" (click)="clearFilter('price')"><i class="fa fa-times"></i>
      Clear</span>
  </div>

  <div class="mb-3 pb-2 colorFiltering border-bottom">
    <span class="filterTitle">Colors</span>
    <div class="searchColors mb-2">
      <input type="text" class="form-control" placeholder="Enter color" (keyup)="searchColors($event)">
    </div>
    <ul class="list-unstyled color-filtering">
      <li *ngFor="let color of searchedColors">
        <div class="custom-control custom-checkbox">
          <input (change)="filterColors($event)" type="checkbox" [value]="color" class="custom-control-input" [id]="color" />
          <label class="custom-control-label" [for]="color">{{ color }}</label>
        </div>
      </li>
    </ul>
    <span class="clearFilter badge-pill badge badge-pill badge-dark" (click)="clearFilter('colors')"><i class="fa fa-times"></i>
      Clear</span>
  </div>

  <div class="mb-3 pb-2 rateFiltering border-bottom">
    <span class="filterTitle">Average Rating</span>
    <div>
      <i class="fa fa-star" (click)="filterRate($event, i)" *ngFor="let rate of rating; let i = index"> </i>
    </div>
    <span class="clearFilter badge-pill badge badge-pill badge-dark" (click)="clearFilter('rating')"><i class="fa fa-times"></i>
      Clear</span>
  </div>
</div>
