/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import 'assets/sass/helpers/0-helpers';

body {
  font-family: 'Nunito', sans-serif;
  padding-top: 88px;
  color: $darkGrey;
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
}

h1 {
  font-size: calc(24px + (34 - 24) * ((100vw - 300px) / (1600 - 300)));
}

h2 {
  font-size: calc(22px + (32 - 22) * ((100vw - 300px) / (1600 - 300)));
}

h3 {
  font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)));
}

a {
  cursor: pointer;
}

.alert {
  margin: 10px 0;
  padding: 0.25rem .50rem;
  font-size: 16px;
}

.catalogue-app {
  padding-top: 40px;
}

.btn-primary {
  background-color: $main-color;
  border-color: $main-color;

  &:hover {
    background-color: $black;
    border-color: $black;
  }
}

.card {
  margin-bottom: 20px;
  transition: all .5s ease-in-out;
  border-color: rgba(155, 155, 155, 0.11);

  &:hover {
    box-shadow: 0 0 30px rgba(20, 20, 20, 0.1);
  }
}

.active {
  background-color: $darker-main-color !important;
  border-color: $darker-main-color !important;
}

i[class^="fa fa-star"] {
  color: gold;
}
