// Main variables
$dir: ltr;
$left: left;
$right: right;
$black: #2c2f3b;
$white: #fff;
$grey: #DADADA;
$darkGrey: #444;
$lightenGrey: #efeeee6b;
$main-color: #FF2153;
$darker-main-color: darken($main-color, 5%);
$lighter-main-color: lighten($main-color, 5%);
$transparent-main-color: transparentize($main-color, .3);
