<ul class="list-unstyled mb-4 allCategories row justify-content-center">
  <li class="col-md-2 text-center" (click)="onSelectedCategory(category)" *ngFor="let category of categories">
    <h2>{{category.name}}</h2>
    <img class="categoryImg" [src]="category.image" [alt]="category.name">
  </li>
</ul>
