@import '../../assets/sass/helpers/0-helpers';

.allCategories {
  li {
    cursor: pointer;

    .categoryImg {
      width: 100%;
      border-radius: 5px;
    }

    &:hover {
      h2 {
        color: $main-color
      }
    }
  }
}
